<ol class="breadcrumb">
   <li>Inicio</li>
   <li>Roles</li>
   <li class="active">Editar rol</li>
</ol>
<div class="row">
   <div class="col-md-12">
      <div class="panel">
         <div class="panel-heading">
            <div class="panel-title">Formulario de edición</div>
         </div>
         <div class="panel-body">
            <div class="form-group">
               <label class="control-label">Nombre</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group">
               <label class="control-label">Código</label>
               <input type="text" class="form-control">
            </div>
         </div>
         <div class="panel-footer" style="background: #FFF;border:#FFF;">
            <div class="clearfix">
               <div class="pull-right">
                  <button class="btn btn-primary">Guardar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
