<ol class="breadcrumb">
   <li>Inicio</li>
   <li>Categoría gastos en ruta</li>
   <li class="active">Editar categoría</li>
</ol>
<div class="row">
   <div class="col-sm-6">
      <div class="panel">
         <div class="panel-heading">
            <div class="panel-title">Formulario de edición</div>
         </div>
         <div class="panel-body">
            <div class="form-group">
               <label class="control-label">Nombre de la categoría</label>
               <input type="text" class="form-control" ng-model="infoGastoRuta.Nombre_Gasto">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" ng-model="infoGastoRuta.Eliminado">Eliminada</label>
            </div>
            <div class="form-group">
               <label class="text-success" ng-if="statusProceso === 0"></label>
               <label class="text-danger" ng-if="statusProceso === '-1'">
                  Error. La categoría del gasto en ruta ya se encuentra registrada en el sistema.
               </label>
               <label class="text-danger" ng-if="statusProceso === 100">
                  Error. Por favor complete los campos del formulario.
               </label>
               <label class="text-success" ng-if="statusProceso === '200'">Categoría editada correctamente</label>
            </div>
         </div>
         <div class="panel-footer" style="background: #FFF;border:#FFF;">
            <div class="clearfix">
               <div class="pull-right">
                  <button class="btn btn-primary" ng-click="editarGastoRuta();">Guardar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
