<ol class="breadcrumb">
   <li>Inicio</li>
   <li>Encuestas</li>
   <li class="active">Editar encuesta</li>
</ol>
<div class="row">
   <div class="col-sm-4">
      <div class="panel">
         <div class="panel-heading">
            <div class="panel-title">Formulario de edición</div>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group">
                     <label class="control-label">Nombre de la encuesta</label>
                     <input type="text" class="form-control" ng-model="objetoEncuesta.Nombre_Encuesta">
                  </div>
                  <div class="form-group">
                     <label>Descripción</label>
                     <textarea class="form-control" ng-model="objetoEncuesta.Descripcion"></textarea>
                  </div>
                  <div class="form-group">
                     <label>Fecha de inicio</label>
                     <input type="date" class="form-control" ng-model="objetoEncuesta.Fecha_Inicio">
                  </div>
                  <div class="form-group">
                     <label>Fecha de finalización</label>
                     <input type="date" class="form-control" ng-model="objetoEncuesta.Fecha_Finalizacion">
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="objetoEncuesta.Obligatoria">Obligatoria</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="objetoEncuesta.Eliminado">Eliminar</label>
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                   <label class="text-success" ng-if="statusProceso === 0"></label>
                   <label class="text-danger" ng-if="statusProceso === 301">
                      Error. Por favor complete los campos del formulario.
                   </label>
                   <label class="text-danger" ng-if="statusProceso === '-1'">
                      Error. Ya existe registrada una encuesta con ese nombre.
                   </label>
                   <label class="text-danger" ng-if="statusProceso === 302">
                      Error. Debe agregar al menos una pregunta a la encuesta actual.
                   </label>
                   <label class="text-danger" ng-if="statusProceso === 303">
                      Error. Debe seleccionar al menos un usuario a la encuesta.
                   </label>
                  <label class="text-success" ng-if="statusProceso === 300">Encuesta actualizada correctamente</label>
                  <label class="text-danger" ng-if="statusProceso === 500">Error. Una o varias de las preguntas eliminadas contiene respuestas asociadas.</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="clearfix">
                   <div class="pull-right">
                      <button class="btn btn-info" ng-click="guardarEncuesta();">Actualizar datos</button>
                   </div>
                </div>
              </div>
            </div>
         </div>
      </div>
      <div class="panel">
         <div class="panel-heading">
            <div class="panel-title">Registrar pregunta</div>
         </div>
         <div class="panel-body">
            <div class="row">
              <div class="col-sm-8">
                 <div class="form-group">
                    <label class="control-label">Pregunta</label>
                    <input type="text" class="form-control" ng-model="nuevaPregunta.Pregunta">
                 </div>
                 <div class="form-group">
                    <label>Categoría</label>
                    <select ng-options="categoriaP.ID_Categoria_Preguntas as categoriaP.Nombre_Categoria_Preguntas
                    for categoriaP in listaCategoriasPreguntas"
                    ng-model="nuevaPregunta.FK_ID_Categoria_Preguntas"
                    class="form-control" ng-change="actualizarNombreCategoria();"></select>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" ng-model="nuevaPregunta.Pregunta_Obligatoria">Obligatoria</label>
                 </div>
                 <div class="form-group">
                    <label class="text-success" ng-if="statusProceso === 0"></label>
                    <label class="text-danger" ng-if="statusProceso === 201">
                       Error. Por favor complete los campos del formulario.
                    </label>
                    <label class="text-success" ng-if="statusProceso === 200">Pregunta agregada correctamente</label>
                 </div>
              </div>
            </div>
         </div>
         <div class="panel-footer" style="background: #FFF;border:#FFF;">
            <div class="clearfix">
               <div class="pull-right">
                  <button class="btn btn-info" ng-click="agregarPregunta();">Agregar pregunta</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-8">
     <div class="panel">
        <div class="panel-heading">
           <div class="panel-title">Preguntas de la encuesta</div>
        </div>
        <div class="panel-body">
           <table class="table table-striped table-hover">
              <tr>
                 <th>Pregunta</th>
                 <th>Categoría</th>
                 <th>Obligatoria</th>
                 <th>Opciones</th>
              </tr>
              <tr ng-repeat="pre in listaPreguntas">
                 <td>{{pre.Pregunta}}</td>
                 <td>{{pre.Nombre_Categoria_Preguntas}}</td>
                 <td ng-if="pre.Pregunta_Obligatoria === true">Sí</td>
                 <td ng-if="pre.Pregunta_Obligatoria === false">No</td>
                 <td><button class="btn btn-sm btn-danger" ng-click="eliminarPregunta(pre);">Eliminar</button></td>
              </tr>
           </table>
        </div>
     </div>
     <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12">
                <div class="panel-title" style="margin-bottom:10px;">Listado de usuarios</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="input-group">
                 <input type="text" class="form-control" placeholder="Buscar usuario" ng-model="busquedaUsuario.Filtro_Usuario">
                 <span class="input-group-btn">
                   <button class="btn btn-default" type="button" ng-click="obtenerUsuariosFiltro();">
                       <span class="icon-magnifier"></span>
                   </button>
                 </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
           <table class="table table-striped table-hover">
              <tr>
                 <th>ID</th>
                 <th>Nombre</th>
                 <th>Usuario</th>
                 <th>Seleccionar</th>
              </tr>
              <tr ng-repeat="usuario in listaUsuarios | startFrom: Pagina_Actual * Cantidad_Items | limitTo: Cantidad_Items" ng-if="listaUsuarios.length === 0">
                 <td>{{usuario.ID_Usuario}}</td>
                 <td>{{usuario.Nombre}} {{usuario.Apellidos}}</td>
                 <td>{{usuario.Nombre_Usuario}}</td>
                 <td>
                   <input type="checkbox" ng-model="objetoEncuesta.Lista_Usuarios_Seleccionados[usuario.ID_Usuario]">
                 </td>
              </tr>
              <tr ng-repeat="usuario in listaUsuariosEncuesta | startFrom: Pagina_Actual * Cantidad_Items | limitTo: Cantidad_Items" ng-if="listaUsuarios.length > 0">
                 <td>{{usu.ID_Usuario}}</td>
                 <td>{{usu.Nombre}} {{usu.Apellidos}}</td>
                 <td>{{usu.Nombre_Usuario}}</td>
                 <td>
                   <input type="checkbox" ng-model="objetoEncuesta.Lista_Usuarios_Seleccionados[usu.ID_Usuario]">
                 </td>
              </tr>
           </table>
        </div>
        <div class="panel-footer" ng-if="listaUsuarios.length === 0">
          <div class="clearfix">
            <div style="float:right;">
              <button ng-disabled="Pagina_Actual === 0" ng-click="Pagina_Actual = Pagina_Actual - 1" class="btn btn-default">Anterior</button>
              {{Pagina_Actual + 1}}/{{Calcular_Paginacion('Usuarios_Encuesta')}}
              <button ng-disabled="Pagina_Actual >= listaUsuariosEncuesta.length / Cantidad_Items - 1" ng-click="Pagina_Actual = Pagina_Actual + 1" class="btn btn-default">Siguiente</button>
            </div>
          </div>
        </div>
        <div class="panel-footer" ng-if="listaUsuarios.length > 0">
          <div class="clearfix">
            <div style="float:right;">
              <button ng-disabled="Pagina_Actual === 0" ng-click="Pagina_Actual = Pagina_Actual - 1" class="btn btn-default">Anterior</button>
              {{Pagina_Actual + 1}}/{{Calcular_Paginacion('Usuarios_Filtro')}}
              <button ng-disabled="Pagina_Actual >= listaUsuarios.length / Cantidad_Items - 1" ng-click="Pagina_Actual = Pagina_Actual + 1" class="btn btn-default">Siguiente</button>
            </div>
          </div>
        </div>
     </div>
   </div>
</div>
